/* Mobile first design using Infinix smart 5 as a case study. Coding done on mobile phone with the Acode code editor.*/

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 10px;
}

.card {
  border: 1px solid black;
  width: 80%;
  height: 70%;
  padding: 3%;
  border-radius: 3%;
  position: absolute;
  right: 10%;
  top: 15%;
  background: hsl(216, 50%, 16%);
}

.nft-img-section {
  width: 100%;
  height: 60%;
  border-radius: 3%;
  background-image: url('images/image-equilibrium.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nft-title {
  color: hsl(0, 0%, 100%);
}

.nft-title p{
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.nft-desc {
  color: hsl(0, 0%, 80%);
}

.nft-desc p {
  font-size: 1.2rem;
}

.listing-value {
  color: hsl(178, 100%, 50%);
  font-weight: 400;
}

.listing-duration {
  color: hsl(215, 51%, 70%);
}

.creator-img {
  width: 30px;
  height: 30px;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  margin-right: 10px;
}

.highlight {
  color: hsl(178, 51%, 50%);
}

.nft-title, .nft-desc, .nft-listing-info {
  margin: 15px 0px;
}

.nft-creator {
  color: hsl(0, 0%, 100%);
  margin: 15px 0px;
}

.nft-creator {
  display: flex;
  align-items: center;
}

.nft-listing-info {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.hr {
  width: 90%;
  margin: 5%;
  height: 2px;
  background-color: hsl(215, 51%, 30%);
}

 p {
  font-size: 1.2rem;
} 

.view-icon-img {
  visibility: hidden;
}

.attribution {
  position: absolute;
  bottom: 5%;
  left: 10%;
  color: hsl(0, 0%, 80%);
}

.attribution a {
  text-decoration: none;
  color: hsl(178, 100%, 50%);
}

/* hover states */

.nft-title:hover {
  color: hsl(178, 100%, 50%);
}

.nft-img-section:hover {
  width: 100%;
  height: 60%;
  border-radius: 3%;
  background-image: url('/images/image-equilibrium.jpg');
  background-size: cover; 
  background-color: hsl(178, 100%, 50%);
  background-blend-mode: saturation;
}

.nft-img-section:hover img{
  display: block;
  visibility: visible;
  width: 100%;
  height: 100%;
  padding: 45% 43%;
}

@media only screen and (min-width: 992px) {
  .card {
    width: 60%;
    height: 60%;
    position: absolute;
    right: 20%;
    top: 20%;
  }
  
  .nft-title p {
    font-size: 3rem;
  }
  
  .nft-desc p {
    font-size: 2rem;
  }
  
  .nft-listing-info {
    font-size: 2rem;
  }
  
  .creator-img {
  width: 50px;
  height: 50px;
}

.listing-duration img, .listing-value img {
  width: 30px;
  height: 30px;
}

 .nft-creator p {
  font-size: 2rem;
} 
}